@import url(https://fonts.googleapis.com/css?family=Spline+Sans:300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,regular,500,600,700,800,900);

@font-face {
  font-family: 'gg';
  src:url('fonts/ggsans-Normal.ttf');
  }

  @font-face {
    font-family: 'ggnew';
    src:url('fonts/ggsans-Semibold.ttf');
    }

body {
  margin: 0;
  
  font-family: 'gg', 'gg2', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




body,html{
  scroll-behavior: smooth;
}

body::-webkit-scrollbar,html::-webkit-scrollbar{
  display: none;
}

.swiper{
padding-top: 8rem;
max-width: 85%;
position: relative;
}
.swiper-button-prev, .swiper-button-next {
  position: absolute !important;
  height: 40px !important;
  width: 50px !important;
  background-color: #1d1e25 !important; 
  z-index:25 !important;
  right: 60px !important;
  left: auto !important;
  top: 0 !important;
  transform: translateY(50%) !important;
  color: #ffffff !important;
  border-radius: 8px !important;

}

/* tailwind.css or your custom CSS file */
.z-200 {
  z-index: 200;
}


.swiper-button-next {
    right: 0 !important;
    top: 0 !important;
}

.swiper-button-prev::after,
.swiper-button-next::after
{
  font-size: 1rem !important;
}
/* Modify the hover state */
 .swiper-button-next:hover {
 
  background-color: #3e3f46 !important;
  transition: 400ms ease-in-out !important;
} 

.swiper-button-prev:hover {
  background-color: #3e3f46 !important;
  transition: 400ms ease-in-out !important;
} 









@tailwind base;
@tailwind components;
@tailwind utilities;